{% extends "shared/layout.html" %}

{% block content %}

    <h1><span class="font-semi-bold">Invoice Service</span> <span class="smaller">A RESTful invoice service</span>
    </h1>

    <div style="clear:both;"></div>
    <br>
    <br>
    <p class="lead">
        The <a href="https://tjsullivan1.github.io/">Invoice</a> service.<br>
        <br>

        <h1>Generate New Invoice</h1>
        <form method=post action='/api/invoice'>
            Number of Tenants: <input type="number" name="tenants" value="1"><br>
            Utilities: <input type=float name=utilities><br />
            Rent: <input type="float" name=rent><br />
            <input type=submit value=Create>
        </form>

    </p>


{% endblock %}
