{% extends "shared/layout.html" %}

{% block content %}

    <h1><span class="font-semi-bold">Invoice Service</span> <span class="smaller">A RESTful invoice service</span>
    </h1>

    <div style="clear:both;"></div>
    <br>
    <br>
    <p class="lead">
        The <a href="https://tjsullivan1.github.io/">Invoice</a> service.<br>
        <br>

        <h1>Upload new File</h1>
        <form method=post enctype=multipart/form-data action='/api/files'>
            <input type=input name=file>
            <input type=submit value=Upload>
        </form>

    </p>


{% endblock %}
